.imc-calculator {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 5px transparent;
    border-radius: 20px;
    background-color: lightskyblue;
    box-shadow: 10 20px 40px rgba(0, 0, 0, 0.1);
  }
  
  .imc-calculator h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
  }

  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: flex;
    margin-bottom: 5px;
    color: #555;
    font-size: 16px;
  }
  
  .input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .calculate-btn {
    display: block;
    width: 50%;
    padding: 12px;
    margin: 0 auto;
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .calculate-btn:hover {
    background-color: darkgray;
  }
  
  .result {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    font-weight: bolder;
  }

  .result h3 {
    margin-top: 0;
    font-size: 20px;
    color: black;
  }

  .result p {
    font-size: 16px;
    color: black;
    font-weight: normal;
  }
  